* {
  margin: 0;
}

img {
  width: 300px;
  height: 500px;
}

body {
  height: 100%;
}

header {
  height: 100px;
  background-color: #ff5733;
}

main {
  background-color: #336bff;
  min-height: 200px;
  height: calc(100vh - 200px);
}

footer {
  background-color: #fff633;
  height: 100px;
}
